[include fluidd.cfg]
[include fluidd.cfg]
[mcu]
serial: /dev/serial/by-id/<your-mcu-id>

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: none
max_velocity: 1000
max_accel: 1000

[include config/mcu_definitions/rpi.cfg]

#[temperature_sensor Chamber]
#sensor_type: BME280
#i2c_address: 118
#i2c_mcu: rpi
#i2c_bus: i2c.1